.eventItem {
  background-color: black;
  color: white;
  height: 125px;
  width: 75%;
  font-family: 'Dosis', sans-serif;
  text-align: center;
  border-radius: 20px;
  text-align: left;
  border: 2px solid grey;
  margin: 1%;
  padding: 1%;

}